{{ define "title"}}<title>سیستم تصمیم‌گیری دلفی</title>{{ end }}

{{ define "content" }}
<!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="row box-nokhodi">
    <div class="col-md-8 col-md-offset-2">
      سلام!
		</div>
	</div>

</div><!-- /.container -->
{{ end }}
